# Lint requirements
black==25.12.0
flake8==7.3.0
flake8-pyproject==1.2.4
isort==7.0.0
mypy==1.19.0
shellcheck-py==0.11.0.1

# Type annotation stubs
types-pygments
types-PyYAML
types-requests
types-setuptools
types-toml

# Install the actual bits for mypy
-r test_requirements.txt
