# Lint requirements
black==25.9.0
flake8==7.3.0
flake8-pyproject==1.2.3
isort==6.1.0
mypy==1.18.2
shellcheck-py==0.11.0.1

# Type annotation stubs
types-pygments
types-PyYAML
types-requests
types-setuptools
types-toml

# Install the actual bits for mypy
-r test_requirements.txt
