[tool.towncrier]
package = "pulpcore.cli.common"
filename = "CHANGES.rst"
directory = "CHANGES/"
title_format = "{version} ({project_date})"
template = "CHANGES/.TEMPLATE.rst"
issue_format = "`#{issue} <https://github.com/pulp/pulp-cli/issues/{issue}>`_"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100

[tool.pytest.ini_options]
markers = [
  "script: Marks tests provided as shell scripts",
  "pulpcore: pulpcore tests",
  "pulp_2to3_migration: pulp-2to3-migration tests",
  "pulp_file: pulp_file tests",
  "pulp_ansible: pulp_ansible tests",
  "pulp_container: pulp_container tests",
  "pulp_rpm: pulp_rpm tests",
  "pulp_python: pulp_python tests"
]
