# Test requirements
pytest>=7.0.0,<=8.2.2
pytest-subtests<=0.13.0,>=0.13.0
python-gnupg==0.5.2
trustme>=1.1.0,<1.2

# No pinning here, because we only switch on optional dependencies here.
pygments
SecretStorage
