# Lint requirements
black==24.4.2
flake8==7.1.0
flake8-pyproject==1.2.3
isort==5.13.2
mypy==1.11.0
shellcheck-py==0.10.0.1

# Type annotation stubs
types-pygments
types-PyYAML
types-requests
types-setuptools
types-toml

# Install the actual bits for mypy
-r test_requirements.txt
