{%- import 'macros' as macros with context -%}
---
name: "Lint"

on:
  workflow_call:

jobs:
  lint:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.11"
          - "3.14"
    steps:
      {{ macros.checkout() | indent(6) }}
      {{ macros.setup_python(version="${{ matrix.python }}") | indent(6) }}
      {{ macros.install_uv() | indent(6) }}
      - name: "Lint code"
        run: |
          make uv-lint
...
