---
name: "Lint"

on:
  workflow_call:

jobs:
  lint:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.11"
          - "3.14"
    steps:
      - uses: "actions/checkout@v5"
      {%- include "cache_action" %}
      - name: "Download wheels"
        uses: "actions/download-artifact@v5"
        with:
          name: "pulp_cli_packages"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "{{ "${{ matrix.python }}" }}"
      - name: "Install python dependencies"
        run: |
          pip install dist/pulp_cli{{ cookiecutter.__app_label_suffix | replace ("-", "_") }}-*.whl {%- if cookiecutter.glue %} pulp-glue{{ cookiecutter.__app_label_suffix }}/dist/pulp_glue{{ cookiecutter.__app_label_suffix | replace ("-", "_") }}-*.whl {%- endif %} -r lint_requirements.txt
      - name: "Lint code"
        run: |
          make lint
...
