{%- import 'macros' as macros with context -%}
---
name: "Test"

on:
  workflow_call:

env:
  COLORTERM: "yes"
  TERM: "xterm-256color"
  PYTEST_ADDOPTS: "--color=yes"
  CONTAINER_RUNTIME: "docker"

jobs:
  {%- if cookiecutter.unittests %}
  unittest:
    runs-on: "ubuntu-latest"
    steps:
      {{ macros.checkout() | indent(6) }}
      {{ macros.download_wheels() | indent(6) }}
      {{ macros.setup_python() | indent(6) }}
      {{ macros.install_uv() | indent(6) }}
      - name: "Run tests"
        run: |
          uv run --isolated --with dist/pulp_glue*.whl --with dist/pulp_cli*.whl --only-group test make unittest
  {%- endif %}
  test:
    runs-on: "ubuntu-24.04"
    {%- if cookiecutter.unittests %}
    needs:
      - "unittest"
    {%- endif %}
    strategy:
      fail-fast: false
      matrix:{{ cookiecutter.test_matrix | jaml(level=4, embed_in="dict") }}
    steps:
      {{ macros.checkout() | indent(6) }}
      {{ macros.download_wheels() | indent(6) }}
      {{ macros.setup_python(version="${{ matrix.python }}") | indent(6) }}
      {%- if cookiecutter.binary_dependencies %}
      - name: "Install Binary Test Dependencies"
        run: |
          sudo apt-get install {{ cookiecutter.binary_dependencies }}
      {%- endif %}
      {{ macros.install_uv() | indent(6) }}
      - name: "Run tests"
        env:
          {%- raw %}
          CONTAINER_RUNTIME: "${{ matrix.container_runtime }}"
          IMAGE_TAG: "${{ matrix.image_tag }}"
          FROM_TAG: "${{ matrix.from_tag }}"
          CONTAINER_FILE: "${{ matrix.container_file }}"
          PULP_HTTPS: "${{ matrix.pulp_https }}"
          PULP_OAUTH2: "${{ matrix.pulp_oauth2 }}"
          PULP_API_ROOT: "${{ matrix.pulp_api_root }}"
          PULP_DOMAIN_ENABLED: "${{ matrix.pulp_domain_enabled }}"
          PULP_ENABLED_PLUGINS: "${{ matrix.pulp_enabled_plugins }}"
          OAS_VERSION: "${{ matrix.oas_version }}"
          {%- endraw %}
        run: |
          {%- raw %}
          if [ "${{matrix.lower_bounds}}" ]
          then
            RESOLUTION=("--resolution" "lowest-direct")
          elif [ "${{matrix.upper_bounds}}" ]
          then
            RESOLUTION=("--resolution" "highest")
          else
            RESOLUTION=()
          fi
          {%- endraw %}

          uv run "${RESOLUTION[@]}" --isolated --with dist/pulp_glue*.whl --with dist/pulp_cli*.whl --only-group test .ci/run_container.sh make {% if cookiecutter.paralleltests %}parallel{% elif cookiecutter.unittests %}live{% endif %}test
...
