---
name: "Build"

on:
  workflow_call:

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
      - name: "Set up Python"
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.14"
          allow-prereleases: true
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          enable-cache: true
      - name: "Build wheels"
        run: |
          make build
          touch .root
      - name: "Upload wheels"
        uses: "actions/upload-artifact@v4"
        with:
          name: "pulp_cli_packages"
          path: |
            .root
            dist/
          if-no-files-found: "error"
          retention-days: 5
...
