---
name: "pulp-cli Nightly"

on:
  schedule:
    - cron: "15 3 * * *"
  workflow_dispatch:

jobs:
  build:
    uses: "./.github/workflows/build.yml"
  test:
    needs:
      - "build"
    uses: "./.github/workflows/test.yml"
  codeql:
    uses: "./.github/workflows/codeql.yml"
  collect_changes:
    uses: "./.github/workflows/collect_changes.yml"
    secrets: "inherit"
...
