---
name: "Pulp CLI PR static checks"
on:
  pull_request_target:
    types: ["opened", "synchronize", "reopened"]

# This workflow runs with elevated permissions.
# Do not even think about running a single bit of code from the PR.
# Static analysis should be fine however.

concurrency:
  group: "${{ github.event.pull_request.number }}-${{ github.workflow }}"
  cancel-in-progress: true

jobs:
  apply_labels:
    runs-on: "ubuntu-latest"
    name: "Label PR"
    permissions:
      pull-requests: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
        with:
          fetch-depth: 0
      - name: "Set up Python"
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.14"
          allow-prereleases: true
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          enable-cache: true
      - name: "Determine PR labels"
        run: |
          git fetch origin ${{ github.event.pull_request.head.sha }}
          uv run -q .ci/scripts/pr_labels.py "origin/${{ github.base_ref }}" "${{ github.event.pull_request.head.sha }}" >> "$GITHUB_ENV"
      - name: "Apply PR Labels"
        uses: "actions/github-script@v8"
        with:
          script: |
            const { ADD_LABELS, REMOVE_LABELS } = process.env;

            if (REMOVE_LABELS.length) {
              for await (const labelName of REMOVE_LABELS.split(",")) {
                try {
                  await github.rest.issues.removeLabel({
                    issue_number: context.issue.number,
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    name: labelName,
                  });
                } catch(err) {
                }
              }
            }
            if (ADD_LABELS.length) {
              await github.rest.issues.addLabels({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: ADD_LABELS.split(","),
              });
            }
...
