name: pulp-cli Publish Docs

on:
  push:
    branches:
      - "main"
    paths:
      - "docs/**"
  workflow_dispatch:
  workflow_call:

jobs:
  publish-docs:
    name: Publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run publish docs script
        env:
          PULP_DOCS_KEY: ${{ secrets.PULP_DOCS_KEY }}
        run: |
          .ci/scripts/publish_docs.sh "${GITHUB_REF}"
