name: pulp-cli Release

on:
  workflow_dispatch

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version towncrier~=23.11.0
      - name: Setup git
        run: |
          git config user.name pulpbot
          git config user.email pulp-infra@redhat.com
      - name: Release
        run: .ci/scripts/release.sh
