---
name: "Test"

on:
  workflow_call:

env:
  COLORTERM: "yes"
  TERM: "xterm-256color"
  PYTEST_ADDOPTS: "--color=yes"
  CONTAINER_RUNTIME: "docker"

jobs:
  unittest:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
      - name: "Download wheels"
        uses: "actions/download-artifact@v5"
        with:
          name: "pulp_cli_packages"
      - name: "Set up Python"
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.14"
          allow-prereleases: true
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          enable-cache: true
      - name: "Run tests"
        run: |
          uv run --isolated --with dist/pulp_glue*.whl --with dist/pulp_cli*.whl --only-group test make unittest
  test:
    runs-on: "ubuntu-24.04"
    needs:
      - "unittest"
    strategy:
      fail-fast: false
      matrix:
        include:
          - image_tag: "nightly"
            pulp_api_root: "/relocated/djnd/"
            pulp_https: "true"
            python: "3.11"
          - image_tag: "latest"
            oas_version: "3.1.1"
            python: "3.11"
            upper_bounds: true
          - image_tag: "3.85"
            pulp_https: "true"
            python: "3.14"
          - image_tag: "3.73"
            pulp_domain_enabled: "true"
            pulp_enabled_plugins: "['pulp-certguard', 'pulp_container', 'pulp_file', 'pulp_python', 'pulp_rpm']"
            python: "3.10"
          - image_tag: "3.63"
            pulp_https: "true"
            pulp_oauth2: "true"
            python: "3.14"
          - image_tag: "3.49"
            pulp_https: "true"
            python: "3.10"
          - image_tag: "3.39"
            pulp_api_root: "/relocated/djnd/"
            python: "3.12"
          - image_tag: "3.28"
            lower_bounds: true
            python: "3.13"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"
      - name: "Download wheels"
        uses: "actions/download-artifact@v5"
        with:
          name: "pulp_cli_packages"
      - name: "Set up Python"
        uses: "actions/setup-python@v6"
        with:
          python-version: "${{ matrix.python }}"
          allow-prereleases: true
      - name: "Install uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          enable-cache: true
      - name: "Run tests"
        env:
          CONTAINER_RUNTIME: "${{ matrix.container_runtime }}"
          IMAGE_TAG: "${{ matrix.image_tag }}"
          FROM_TAG: "${{ matrix.from_tag }}"
          CONTAINER_FILE: "${{ matrix.container_file }}"
          PULP_HTTPS: "${{ matrix.pulp_https }}"
          PULP_OAUTH2: "${{ matrix.pulp_oauth2 }}"
          PULP_API_ROOT: "${{ matrix.pulp_api_root }}"
          PULP_DOMAIN_ENABLED: "${{ matrix.pulp_domain_enabled }}"
          PULP_ENABLED_PLUGINS: "${{ matrix.pulp_enabled_plugins }}"
          OAS_VERSION: "${{ matrix.oas_version }}"
        run: |
          if [ "${{matrix.lower_bounds}}" ]
          then
            RESOLUTION=("--resolution" "lowest-direct")
          elif [ "${{matrix.upper_bounds}}" ]
          then
            RESOLUTION=("--resolution" "highest")
          else
            RESOLUTION=()
          fi

          uv run "${RESOLUTION[@]}" --isolated --with dist/pulp_glue*.whl --with dist/pulp_cli*.whl --only-group test .ci/run_container.sh make paralleltest
...
