---
name: "Test"

on:
  workflow_call:

env:
  COLORTERM: "yes"
  TERM: "xterm-256color"
  PYTEST_ADDOPTS: "--color=yes"
  CONTAINER_RUNTIME: "docker"

jobs:
  unittest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v5"
      - uses: "actions/cache@v4"
        with:
          path: "~/.cache/pip"
          key: "${{ runner.os }}-pip-${{ hashFiles('**/*requirements.txt', '**/*constraints.lock', '**/setup.py', '**/pyproject.toml') }}"
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: "Download wheels"
        uses: "actions/download-artifact@v4"
        with:
          name: "pulp_cli_packages"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"
      - name: "Install Python Test Dependencies"
        run: |
          pip install dist/pulp_cli-*.whl pulp-glue/dist/pulp_glue-*.whl -r test_requirements.txt
      - name: "Run tests"
        run: |
          make unittest
  test:
    runs-on: "ubuntu-24.04"
    needs:
      - "unittest"
    strategy:
      fail-fast: false
      matrix:
        include:
          - image_tag: "nightly"
            pulp_api_root: "/relocated/djnd/"
            pulp_https: "true"
            python: "3.11"
          - image_tag: "latest"
            oas_version: "3.1.1"
            python: "3.11"
            upper_bounds: true
          - image_tag: "3.73"
            pulp_domain_enabled: "true"
            pulp_enabled_plugins: "['pulp-certguard', 'pulp_container', 'pulp_file', 'pulp_python', 'pulp_rpm']"
            python: "3.10"
          - image_tag: "3.63"
            pulp_https: "true"
            pulp_oauth2: "true"
            python: "3.10"
          - image_tag: "3.49"
            pulp_https: "true"
            python: "3.10"
          - image_tag: "3.39"
            python: "3.12"
          - image_tag: "3.28"
            lower_bounds: true
            python: "3.13"
          - image_tag: "3.22"
            lower_bounds: true
            pulp_api_root: "/relocated/djnd/"
            python: "3.9"
    steps:
      - uses: "actions/checkout@v5"
      - uses: "actions/cache@v4"
        with:
          path: "~/.cache/pip"
          key: "${{ runner.os }}-pip-${{ hashFiles('**/*requirements.txt', '**/*constraints.lock', '**/setup.py', '**/pyproject.toml') }}"
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: "Download wheels"
        uses: "actions/download-artifact@v4"
        with:
          name: "pulp_cli_packages"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python }}"
          allow-prereleases: true
      - name: "Install Python Test Dependencies"
        run: |
          if [ "${{matrix.lower_bounds}}" ]
          then
            pip install dist/pulp_cli-*.whl pulp-glue/dist/pulp_glue-*.whl -r test_requirements.txt -c lower_bounds_constraints.lock
          elif [ "${{matrix.upper_bounds}}" ]
          then
            .ci/scripts/calc_constraints.py pyproject.toml pulp-glue/pyproject.toml  --upper > upper_bounds_constraints.lock
            pip install dist/pulp_cli-*.whl pulp-glue/dist/pulp_glue-*.whl -r test_requirements.txt -c upper_bounds_constraints.lock
          else
            pip install dist/pulp_cli-*.whl pulp-glue/dist/pulp_glue-*.whl -r test_requirements.txt
          fi
      - name: "Run tests"
        env:
          CONTAINER_RUNTIME: "${{ matrix.container_runtime }}"
          IMAGE_TAG: "${{ matrix.image_tag }}"
          FROM_TAG: "${{ matrix.from_tag }}"
          CONTAINER_FILE: "${{ matrix.container_file }}"
          PULP_HTTPS: "${{ matrix.pulp_https }}"
          PULP_OAUTH2: "${{ matrix.pulp_oauth2 }}"
          PULP_API_ROOT: "${{ matrix.pulp_api_root }}"
          PULP_DOMAIN_ENABLED: "${{ matrix.pulp_domain_enabled }}"
          PULP_ENABLED_PLUGINS: "${{ matrix.pulp_enabled_plugins }}"
          OAS_VERSION: "${{ matrix.oas_version }}"
        run: |
          .ci/run_container.sh make livetest
...
