PULP_CLI="pulp"
PULP_BASE_URL="http://localhost:8080"
PULP_USER="admin"
PULP_PASSWORD="password"

pulp_cli () {
  $PULP_CLI --base-url "${PULP_BASE_URL}" --user "${PULP_USER}" --password "${PULP_PASSWORD}" "$@"
}

set -euv
